<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Телефонная книга Гриценко</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
                    {
                        <li class="fblack">
                            Добро пожаловать, @HttpContext.Current.User.Identity.Name!
                            @if (User.IsInRole("user") || User.IsInRole("admin"))
                    {
                            @Html.ActionLink("Группы", "Group", "Home")
                    }

                        </li>}
                    <li class="fblack">@Html.ActionLink("Телефонная книга", "Phone", "Home")</li>
                    <li class="fblack">@Html.ActionLink("О нас", "About", "Home")</li>
                    <li class="fblack">@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    <li class="fblack">@Html.ActionLink("Админ", "Admin", "Home")</li>
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == false)
                    {
                        <li class="fblack">@Html.ActionLink("Логин", "Login", "Account")</li>
                        <li class="fblack">@Html.ActionLink("Регистрация", "Register", "Account")</li>}
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
                    {
                    <li class="fblack">@Html.ActionLink("Выйти", "Logout", "Account")</li>
                    }
                </ul>
            </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Сделано TARpv17 Danil Gritsenko </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
